* {
  box-sizing: border-box;
}
@font-face {
  font-family: "Museo Sans 700";
  src: url("MuseoSansCyrl-900.eot");
  src: url("../fonts/MuseoSansCyrl-700.woff") format("woff"),
    url("../fonts/MuseoCyrl-700.woff2") format("woff2");
  font-weight: normal;
  font-style: normal;
  /*  готов ли к использованию. шрифт */
  font-display: swap;
}
@font-face {
  font-family: "Museo Sans 300";

  src: url("../fonts/MuseoCyrl-300.woff") format("woff"),
    url("../fonts/MuseoCyrl-300.woff2") format("woff2");
  font-weight: normal;
  font-style: normal;
}
body {
  font-family: "Museo Sans 300", sans-serif;
  color: #202020;
}
/* Шапка сайта */
.header {
  padding: 22px 0;
  background-color: #f1f1f1;
}
.header-container {
  display: flex;
  justify-content: space-between;
  max-width: 1140px;
  margin: auto;
}
.nav-link {
  color: #202020;
  font-size: 14px;
  font-weight: 400;
  text-decoration: none;
  margin-left: 11px;
  margin-right: 11px;
}
.logo {
  text-transform: uppercase;
  font-weight: 700;
}
.login {
  color: #202020;
  font-size: 14px;
  font-weight: 400;
  text-decoration: none;
}
/* главная секция */
.hero {
  padding-top: 62px;
  padding-bottom: 71px;
}
.hero-container {
  max-width: 1140px;
  margin: auto;
  display: flex;

  align-items: center;
}
.hero-image {
  margin-right: 122px;
}
.author {
  font-size: 24px;
  font-weight: 400;
  margin-bottom: 22px;
  display: block;
}
.title {
  font-size: 54px;
  font-weight: 700;
  margin-bottom: 15px;
  margin-top: 0;
}
.subtitle {
  margin-bottom: 48px;
  line-height: 29px;
  font-weight: 400;
  font-size: 24px;
  display: block;
}
.info {
  display: flex;
  flex-wrap: wrap;
  margin-bottom: 49px;
}
.info-text {
  flex-basis: 45%;
  font-size: 16px;
  font-weight: 400;
  margin-bottom: 16px;
}
.price {
  display: flex;
  align-items: center;
  margin-bottom: 48px;
}
.pricetag {
  font-size: 55px;
  font-weight: 400;
  margin-right: 64px;
}
.favorites {
  font-size: 16px;
  font-weight: 400;
  text-decoration: none;
  color: inherit;
  /* color body */
}
.button {
  font-size: 16px;
  font-weight: 700;
  padding: 22px 50px;
  border-radius: 5px;
  border: 2px solid transparent;
  /*   border transparent прозрачный */
}

.button-primary {
  background-color: #f89c02;
  color: #fff;
  margin-right: 20px;
}
.button-outline {
  color: #f89c02;
  border: 2px solid #f89c02;
}
/* О книге */
.about {
  background-color: #f1f1f1;
  padding: 99px 0;
}
.about-container {
  display: flex;
  align-items: start;
  justify-content: space-between;
  max-width: 1140px;
  margin: auto;
}
.about-book {
  max-width: 454px;
  flex-shrink: 0;
}
.about-author {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  max-width: 552px;
  box-shadow: 0 1px 120px rgba(161, 161, 161, 0.08);
  border-radius: 10px;
  border: 1px solid #f3f3f3;
  background-color: #fff;
  padding: 68px 53px;
}
.about-text {
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
}
.author-avatar {
  width: 100px;
  height: 100px;
  /*  как должно заполнять контейнер относительно его высоты и ширины. */
  object-fit: cover;
  border-radius: 50%;
  margin-right: 21px;
}
.author-name {
  margin: 0;
  font-size: 16px;
  font-size: 700px;
  margin-bottom: 14px;
}
.author-link {
  font-size: 16px;
  font-size: 700px;
  text-decoration: none;
  color: inherit;
}
.author-text {
  flex-basis: 100%;
  margin-top: 24px;
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
}
