* {
  box-sizing: border-box;
}
@font-face {
  font-family: "Museo Sans 700";
  src: url("MuseoSansCyrl-900.eot");
  src: url("../fonts/MuseoSansCyrl-700.woff") format("woff"),
    url("../fonts/MuseoCyrl-700.woff2") format("woff2");
  font-weight: normal;
  font-style: normal;
  /*  готов ли к использованию. шрифт */
  font-display: swap;
}
@font-face {
  font-family: "Museo Sans 300";

  src: url("../fonts/MuseoCyrl-300.woff") format("woff"),
    url("../fonts/MuseoCyrl-300.woff2") format("woff2");
  font-weight: normal;
  font-style: normal;
}
body {
  font-family: "Museo Sans 300", sans-serif;
  color: #202020;
}
img {
  max-width: 100%;
}
.section-titel {
  margin-top: 0;
  margin-bottom: 35px;
}
/* Шапка сайта */
.header {
  width: 100%;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 20;
  padding: 22px 0;
  background-color: #f1f1f1;
}
.header-container {
  display: flex;
  justify-content: space-between;
  max-width: 1140px;
  margin: auto;
}
.nav-link {
  color: #202020;
  font-size: 14px;
  font-weight: 400;
  text-decoration: none;
  margin-left: 11px;
  margin-right: 11px;
}
.logo {
  text-transform: uppercase;
  font-weight: 700;
}
.login {
  color: #202020;
  font-size: 14px;
  font-weight: 400;
  text-decoration: none;
}
/* главная секция */
.hero {
  margin-top: 62px;
  padding-top: 62px;
  padding-bottom: 71px;
}
.hero-container {
  max-width: 1140px;
  margin: auto;
  display: flex;

  align-items: center;
}
.image-block {
  position: relative;
  margin-right: 122px;
}
.sale-label {
  position: absolute;
  top: 23px;
  right: 0;
  font-size: 17px;
  font-weight: 500;
  color: #fff;
  background-color: #c93535;
  padding: 12px 17px;
}
.author {
  font-size: 24px;
  font-weight: 400;
  margin-bottom: 22px;
  display: block;
}

.title {
  font-size: 54px;
  font-weight: 700;
  margin-bottom: 15px;
  margin-top: 0;
}
.subtitle {
  margin-bottom: 48px;
  line-height: 29px;
  font-weight: 400;
  font-size: 24px;
  display: block;
}
.info {
  display: flex;
  flex-wrap: wrap;
  margin-bottom: 49px;
}
.info-text {
  flex-basis: 45%;
  font-size: 16px;
  font-weight: 400;
  margin-bottom: 16px;
}
.price {
  display: flex;
  align-items: center;
  margin-bottom: 48px;
}
.pricetag {
  font-size: 55px;
  font-weight: 400;
  margin-right: 64px;
}
.favorites {
  font-size: 16px;
  font-weight: 400;
  text-decoration: none;
  color: inherit;
  /* color body */
}
.button {
  font-size: 16px;
  font-weight: 700;
  padding: 22px 50px;
  border-radius: 5px;
  border: 2px solid transparent;
  /*   border transparent прозрачный */
}

.button-primary {
  background-color: #f89c02;
  color: #fff;
  margin-right: 20px;
}
.button-outline {
  color: #f89c02;
  border: 2px solid #f89c02;
}
/* О книге */
.about {
  background-color: #f1f1f1;
  padding: 99px 0;
}
.about-container {
  display: flex;
  align-items: start;
  justify-content: space-between;
  max-width: 1140px;
  margin: auto;
}
.about-book {
  max-width: 454px;
  flex-shrink: 0;
}
.about-author {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  max-width: 552px;
  box-shadow: 0 1px 120px rgba(161, 161, 161, 0.08);
  border-radius: 10px;
  border: 1px solid #f3f3f3;
  background-color: #fff;
  padding: 68px 53px;
}
.about-text {
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
}
.author-avatar {
  width: 100px;
  height: 100px;
  /*  как должно заполнять контейнер относительно его высоты и ширины. */
  object-fit: cover;
  border-radius: 50%;
  margin-right: 21px;
}
.author-name {
  margin: 0;
  font-size: 16px;
  font-weight: 700;
  margin-bottom: 14px;
}
.author-link {
  font-size: 16px;
  font-weight: 700;
  text-decoration: none;
  color: inherit;
}
.author-text {
  flex-basis: 100%;
  margin-top: 24px;
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
}
/* подвал */
.footer {
  padding-top: 60px;
  padding-bottom: 93px;
  background-color: #f1f1f1;
}
.footer-container {
  max-width: 1140px;
  margin: auto;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}
.footer-titel {
  font-size: 18px;
  font-weight: 700;
  margin-bottom: 32px;
  margin-top: 0;
}
.footer-list {
  padding: 0;
  list-style: none;
}

.list-item {
  margin-bottom: 16px;
}
.footer-link {
  color: inherit;
  text-decoration: none;
}
.requisites {
  margin-right: 186px;
}
.information {
  margin-right: 157px;
}
.to-top {
  position: fixed;
  bottom: 20px;
  right: 20px;
  box-shadow: 0 1px 120px rgba(161, 161, 161, 0.08);
  border-radius: 4px;
  border: 1px solid #eeeeee;
  background-color: #fff;
  padding: 18px;
}
@media (max-width: 1200px) {
  .header-container,
  .hero-container,
  .about-container.about-author,
  .readres-container,
  .footer-container {
    max-width: 960px;
  }

  .image-block {
    margin-right: 30px;
    min-width: 390px;
    max-width: 390px;
    /* flex-block */
  }
  .about-book {
    max-width: 365px;
  }
  /*  Читатели  */
  .readers {
    padding-top: 94px;
  }
  .reader {
    width: 139px;
    height: 139px;
  }
}
@media (max-width: 992px) {
  .header-container,
  .hero-container,
  .about-container.about-author,
  .readres-container,
  .footer-container {
    max-width: 760px;
  }
  .nav {
    display: none;
  }
  .image-block {
    min-width: 300px;
    max-width: 300px;
  }
  .author {
    margin-bottom: 13px;
    font-size: 22px;
  }
  .title {
    font-size: 46px;
    margin-bottom: 10px;
  }
  .subtitle {
    font-size: 24px;
    margin-bottom: 28px;
  }
  .info {
    margin-bottom: 39px;
  }
  .info-text {
    font-size: 16px;
  }
  .agem,
  .format {
    flex-grow: 1;
  }
  .price {
    margin-bottom: 49px;
  }
  .button {
    padding: 20px 40px;
  }
}
